/* very quick style so you can admire my skills in CSS (the name of the file is self-explanatory ^^) */

body
{
	margin: 25px;
	background-color: rgb(240,240,240);
	font-family: arial, sans-serif;
	font-size: 20px;
	text-align: center;
}

header, footer, section
{
	margin: 1.5em;
	padding: 0.25em;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 5px 5px 3px grey;
}

h1, h2
{
	text-shadow: 1px 1px 2px darkmagenta, 0 0 10px purple, 0 0 2px blue;
}

h1
{
	font-size: 3em;
	font-weight: normal;
}

pre
{
	margin-left: 15em;
	margin-right: 15em;
	padding: 1em;
	text-align: left;
	background-color: lightgrey;
	border-radius: 10px;
}
