/* very quick style so you can admire my skills in CSS (the name of the file is self-explanatory ^^) */

body
{
	margin: 25px;
	background-color: rgb(240,240,240);
	font-family: arial, sans-serif;
	font-size: 20px;
	text-align: center;
}

header, footer, section
{
	margin: 1.5em;
	padding: 1.25em 5em;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 5px 5px 3px grey;
}

section.result.good
{
	background-color: rgba(0, 255, 0, 0.1);
}

section.result.bad
{
	background-color: rgba(255, 0, 0, 0.1);
}

h1, h2
{
	text-shadow: 1px 1px 2px darkmagenta, 0 0 10px purple, 0 0 2px blue;
}

h1
{
	font-size: 3em;
	font-weight: normal;
}

pre
{
	padding: 1em;
	background-color: lightgrey;
}

ul
{
	padding-top: 1em;
	padding-bottom: 1em;
	border-color: black;
	border-width: 1px;
	border-style: solid;
}

pre, ul, form
{
	text-align: left;
}

nav ol
{
	list-style: none;
}

nav ol li
{
	display: inline;
	margin: initial;
}

nav ol li:nth-child(n+2)::before
{
	content: "|";
	padding-right: 1ch;
}

/* rounded borders */
header, footer, section, pre, ul, fieldset
{
	border-radius: 10px;
}

.active, .inactive
{
	font-family: monospace;
	font-weight: bold;
}

.active
{
	color: green;
}

.inactive
{
	color: red;
}

.softlogo
{
	vertical-align: middle;
}

#reload
{
	float: right;
	margin: 1em;
}
