<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="author" content="remileduc">
	<link rel="stylesheet" type="text/css" href="/file/resources/ugly.css">
	<link rel="shortcut icon" type="image/png" href="/file/resources/zergian.png"/>
	$HEAD_TEMPLATE
</head>

<body>

<header>
	<h1><a href="/">Zotac manager</a></h1>
	<nav>
		<ol>
			<li><a href="/">Homepage</a></li>
			<li><a href="/vpn.sh">VPN Manager</a></li>
			<li><a href="/softs">Software manager</a></li>
		</ol>
	</nav>
	$HEADER_TEMPLATE
</header>

$BODY_TEMPLATE

<footer>
	<p>Zotac web manager based on Sherver.</p>
	$FOOTER_TEMPLATE
</footer>

<script>
$INLINE_SCRIPT
</script>

</body>

</html>
