<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="author" content="remileduc">
	<meta name="viewport" content="height=device-height, width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="/file/resources/style.css">
	<link rel="shortcut icon" type="image/png" href="/file/resources/favicon.png"/>
	$HEAD_TEMPLATE
</head>

<body>

<header>
	$HEADER_TEMPLATE
</header>

$BODY_TEMPLATE

<footer>
	$FOOTER_TEMPLATE
</footer>

<script>
$INLINE_SCRIPT
</script>

</body>

</html>
